{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Profile</title>
  <link rel="stylesheet" href="{% static "profiles/styles.css" %}">
</head>
<body>
  <form action="/profiles/" method="POST" enctype="multipart/form-data">
    {% comment %} enctype tells browser when the form submitted will contain a file -  {% endcomment %}
    {% comment %} - and will change how the request is sent to the server{% endcomment %}
    {% csrf_token %}
    <input type="file" name="image"/>
    <button>Upload!</button>
  </form>
</body>
</html>